=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            %h5.col.s9
              =@service_type
        .card-body
          .row
            %table.striped.highlight
              %tr
                %th Name
                %td=@service_type
              %tr
                %th Active
                %td=@service_type.active
        .card-action
