=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            %h5.col.s6
              =@caretakers.length
              Providers at
              =current_user.organization
            -if current_user.master
              =link_to "Add Provider", new_caretaker_path, class: "btn yellow darken-3 col s6"
        .card-body
          %table.striped.highlight
            %thead
              %tr
                %th Provider
                %th Email
                %th
            %tbody
              -@caretakers.each do |caretaker|
                -warning = caretaker.pending? ? "yellow lighten-5" : nil
                %tr{class: warning}
                  %td=caretaker
                  %td=caretaker.email
                  %td
                    =link_to "View", caretaker_path(caretaker), class: "btn yellow darken-3"


        .card-action
