=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            %h5 Set Password
        .card-body
          .row
            =simple_form_for :reset, url: password_caretakers_path, method: :post do |f|
              =f.input :prt, as: :hidden, input_html: { value: params[:prt] }
              .col.s12
                =f.input :password
              .col.s12
                =f.input :confirm_password
              %button.btn.yellow.darken-3 Set Password
        .card-action
