=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            %h5=@caretaker
            %hr
        .card-body
          -if params[:id] == current_user.id
            .row
              -# =link_to "Create Preset", new_preset_path, class: "btn col s3 yellow darken-3"
              =link_to "My Presets", presets_path, class: "btn col s3 yellow darken-3"
            %hr
          .row
        .card-action
