=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            %h5=@caretaker
            %hr
        .card-body
          -if params[:id] == current_user.id
            .row
              =link_to "My Presets", presets_path, class: "btn col s3 yellow darken-3"
          .row
            %table
              %tr
                %th Email
                %td=@caretaker.email
              %tr
                %th Phone
                %td=@caretaker.phone
              %tr
                %th Time Zone
                %td=@caretaker.timezone
        .card-action
