=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            .col.s6
              %h5 Admin#index
        .card-body
          .row
        .card-action
