=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
        .card-body
          %ul.collection
            -@clients.each do |client|
              %li.collection-item.avatar
                =image_tag client.photo_url, class: "circle"
                %span.title=client
                =link_to "View", client_path(client), class: "secondary-content btn waves-light waces-effect yellow darken-3"
        .card-action
