=render 'layouts/navbar'
.container
  .row
    .col.s12
      .card.grey.lighten-3
        .card-content
          %span.card-title.center-text=@client
          %button.btn-floating.yellow.darken-3.waves-effect{onclick:"$('.collapsible-header').click()"} Collapse
          .card-body
            %ul.collapsible{data: {collapsible: "expandible"}}
              %li
                .collapsible-header.active Description
                .collapsible-body=@client.description
              %li
                .collapsible-header.active Address
                .collapsible-body=formatted_address_haml(@client)
              %li
                .collapsible-header.active Birthdate
                .collapsible-body
                  =@client.formatted_dob('%b %-d %Y')
                  =age_calc(@client.parsed_dob)
              %li
                .collapsible-header.active Services Needed
                .collapsible-body=@client.services_needed
              %li
                .collapsible-header.active Ideal Provider
                .collapsible-body=@client.ideal_provider
              %li
                .collapsible-header.active Important To Me
                .collapsible-body=@client.important_to_me
              %li
                .collapsible-header.active Import For Me
                .collapsible-body=@client.important_for_me
              %li
                .collapsible-header.active Shine Services
                .collapsible-body=@client.shine_services
              %li
                .collapsible-header.active Additional Info
                .collapsible-body=@client.additional_info
          .card-action
  = render 'memos/form'
  .row
    -@client.memos.order(created_at: :desc).includes(:caretaker).each do |memo|
      .col.s10.offset-s1
        .card.yellow.lighten-5
          .card-content
            %span.card-title= memo.caretaker
            %p=memo.body
          .card-action
            =memo.created_at&.strftime('%l:%M%P %b %e')
