=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            %h5=@entity
        .card-body
          -if @audits.length.zero?
            %h5="No audit data for #{@entity}"
          -else
            %table
              %thead
                %tr
                  %th User
                  %th IP Address
                  %th Changes
                  %th Date Changed
              %tbody
                -@audits.each do |audit|
                  %tr
                    %td=audit.user
                    %td
                    %td
                    %td=local_time(audit.created_at)
        .card-action
