=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            %h5=@entity
        .card-body
          -if @audits.length.zero?
            %h5="No audit data for #{@entity}"
          -else
            %table
              %thead
                %tr
                  %th User
                  %th Changes
                  %th Date Changed
              %tbody
                -@audits.each do |audit|
                  %tr
                    %td=audit.user
                    %td
                      %ul
                        -audit.audited_changes.each do |k,v|
                          %li
                            %p
                              %strong=k.titleize
                            %p
                              %u=v.first
                              %strong &nbsp;=>&nbsp;
                              %u=v.last
                    %td=local_time(audit.created_at)
        .card-action
