=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            %h5
            =Preset.caretaker(current_user.id).count
            Presets
        .card-body
        .card-action
