/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'materialize';
@import "font-awesome-sprockets";
@import "font-awesome";
textarea{
  max-width: 100%;
}
.center-text{
  text-align: center;
}
.sub-text{
  font-size: .6em;
}


.btn-floating > i{
  margin-top: .2em;
}

.picker__today, .picker__close, .picker__day--today{
  color: black;
}


.dropdown-content{
   width: max-content !important;
   height:auto !important;
}

.clockpicker-tick:hover{
  background-color: rgba(150, 150, 150, .3);
}


ul.dropdown-content.select-dropdown li span { color: #000; }

.clickable {
  cursor: pointer;
}

.chip-preset:hover{
  background-color: white;
}
