=render 'layouts/navbar'
.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            %h5 Reports
        .card-body
          -if @note_groups.length.zero?
            %h5.center-text No Report available
          %ul.collection
            -@note_groups.each do |ng|
              =link_to ng.date.strftime('%A %B %e, %Y'), notes_group_path(ng), class: "collection-item black-text"
        .card-action
