=render 'layouts/navbar'
-if current_user.master
  .row
    .col.s10.offset-s1
      .card.grey.lighten-3
        .card-content
          .card-title
            .row
              %h5
                Master reports
          .card-body
          .card-action

.row
  .col.s10.offset-s1
    =simple_form_for :generator, url: shine_report_notes_group_index_path, method: :get do |f|
      .card.grey.lighten-3
        .card-content
          .card-title
            .row
              .col.s9
                %h5 Shine Report
              %button.btn.col.s3{class: org_color, style: "margin-top: 1.7em;"} Generate
          .card-body
            .row
              .col.s6
                =f.input :start_date,  input_html: {class: "datepicker white"}
              .col.s6
                =f.input :end_date,  input_html: {class: "datepicker white"}


.row
  .col.s10.offset-s1
    .card.grey.lighten-3
      .card-content
        .card-title
          .row
            .col.s9
              %h5 Reports
            =link_to "Submit Report", new_notes_group_path, class: "col s3 btn #{org_color}"
        .card-body
          -if @note_groups.length.zero?
            %h5.center-text No Reports available
          %ul.collection
            -@note_groups.each do |ng|
              =link_to ng.date.strftime('%A %B %e, %Y'), notes_group_path(ng), class: "collection-item black-text"
        .card-action
