=render 'layouts/navbar'
.row
  .col.m12.l8.offset-l2
    =simple_form_for :login, url: create_session_path do |f|
      .card.grey.lighten-3
        .card-content
          %span.card-title Log In To Continue
          =f.input :email
          =f.input :password
        .card-action
          =f.button :submit, "Log In", class:"btn waves-light waves-effect yellow darken-3"
