%nav.yellow.darken-3
  .nav-wrapper
    -if current_user.present?
      =link_to current_user.organization.name, root_path, class: "brand-logo", style: "margin-left: 1em;"
    =link_to "", class: "sidenav-trigger hide-on-med-and-up", data:{activates: "sideNav"} do
      =fa_icon('bars')
    %ul.right.hide-on-med-and-down
      -if current_user.present?
        %li=link_to "Caretakers", caretakers_path
        %li=link_to "Reports", notes_group_index_path
        %li=link_to "Clients", clients_path
        %li=link_to "Log Out", logout_path, method: :delete
      -else
        %li=link_to "About", nil
    %ul.side-nav#sideNav
      -if current_user.present?
        %li=link_to "Reports", notes_group_index_path
        %li=link_to "Clients", clients_path
        %li=link_to "Log Out", logout_path, method: :delete
